<div class="tw-space-y-4 tw-relative">
  {{!-- <div class="bg_color3 uk-position-cover"></div> --}}
  <!-- prescription -->
  <div class="prescription">
    {{> titleBox title='2021/09/19慢箋' h2fullBG=true h2fullBgColor='bg_secondary' h2more=false h2moreColor='tw-text-white ' h2moreUKicon=true dropdown=false content='prescription-content' cols=false card=true}}
  </div>
  <!-- /prescription -->
</div>
