<div class="tw-my-4 m:tw-my-8 uk-grid uk-child-width-expand@s" uk-grid>
	<div class="min_width-1/5@s uk-width-auto@s"><img data-src="img/book.svg" data-width data-height alt="封面" uk-img></div>
	<div>
		<ul class="uk-list uk-list-divider">
			<li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand@s" uk-grid>
          <div class="min_width-1/7 uk-width-auto"><span class="tw-text-semibold">產品ID：</span></div>
          <div class="uk-text-break"></div>
        </div>
      </li>
			<li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand@s" uk-grid>
          <div class="min_width-1/7 uk-width-auto"><span class="tw-text-semibold">資源名稱：</span></div>
          <div class="uk-text-break"></div>
        </div>
      </li>
			<li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand@s" uk-grid>
          <div class="min_width-1/7 uk-width-auto"><span class="tw-text-semibold">連結網址：</span></div>
          <div class="uk-text-break">EuropanEuropanEuropanEuropanEuropanEuropanEuropanEuropanEuropanEuropanEuropanEuropanEuropanEuropanEuropanEuropanEuropanEuropan</div>
        </div>
      </li>
			<li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand@s" uk-grid>
          <div class="min_width-1/7 uk-width-auto"><span class="tw-text-semibold">出版社/平台：</span></div>
          <div class="uk-text-break"></div>
        </div>
      </li>
			<li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand@s" uk-grid>
          <div class="min_width-1/7 uk-width-auto"><span class="tw-text-semibold">類型：</span></div>
          <div class="uk-text-break"></div>
        </div>
      </li>
			<li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand@s" uk-grid>
          <div class="min_width-1/7 uk-width-auto"><span class="tw-text-semibold">主題：</span></div>
          <div class="uk-text-break"></div>
        </div>
      </li>
			<li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand@s" uk-grid>
          <div class="min_width-1/7 uk-width-auto"><span class="tw-text-semibold">簡介：</span></div>
          <div class="uk-text-break"></div>
        </div>
      </li>
		</ul>
	</div>
</div>