<!-- buttons -->
<div class="buttons bg_secondary tw-fixed uk-position-bottom">
  <div class="tw-py-3 uk-container">
    <div class="uk-grid uk-grid-small uk-child-width-expand" uk-grid>
      <div class="min_width-1/3">
        <a class="tw-text-white hover:tw-opacity-80 tw-border tw-border-white tw-no-underline tw-px-1 tw-py-2 tw-text-center tw-block" href="">慢箋掃描
        </a>
      </div>
      <div class="min_width-1/3">
        <a class="tw-text-white hover:tw-opacity-80 tw-border tw-border-white tw-no-underline tw-px-1 tw-py-2 tw-text-center tw-block" href="B03history.html">領藥歷史
        </a>
      </div>
      <div class="min_width-1/3">
        <a class="tw-text-white hover:tw-opacity-80 tw-border tw-border-white tw-no-underline tw-px-1 tw-py-2 tw-text-center tw-block" href="B04pharmacy.html">我的藥局
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /buttons -->
