<ul class="uk-grid uk-grid-column-large uk-grid-row-small uk-flex-column" uk-grid>
  <li>
    <div class="uk-grid uk-grid-small uk-child-width-expand" uk-grid>
      <div class="uk-width-expand"><a class="color_secondary tw-inline-block tw-w-full uk-text-break" href="B02prescription-content.html">2021/09/19</a></div>
      <div class="uk-width-auto"><i class="color_secondary fas fa-angle-right fa-fw"></i></div>
    </div>
  </li>
  <li>
    <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
      <div class="uk-width-expand"><a class="color_secondary tw-inline-block tw-w-full uk-text-break" href="B02prescription-content.html">2021/10/19</a></div>
      <div class="uk-width-auto"><i class="color_secondary fas fa-angle-right fa-fw"></i></div>
    </div>
  </li>
</ul>
