<!-- Icon Box -->
<div class="tw-p-3 tw-shadow hover:tw-shadow-xl uk-card uk-card-default">
  <div class="uk-flex-stretch uk-grid uk-grid-small uk-child-width-expand" uk-grid uk-height-match="target: > div">
    <div class="min_width-1/2!">
      <a class="tw-no-underline hover:color_secondary! min_height-150!@s tw-bg-gray-100 tw-space-y-2 tw-py-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle" href="#">
        <i class="color_primary tw-text-6xl fas fa-book"></i>
        <span class="tw-text-center tw-px-2">新書通報</span>
      </a>
    </div>
    <div class="min_width-1/2!">
      <a class="tw-no-underline hover:color_secondary! min_height-150!@s tw-bg-gray-100 tw-space-y-2 tw-py-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle" href="#">
        <i class="color_primary tw-text-6xl fas fa-university"></i>
        <span class="tw-text-center tw-px-2">館際合作</span>
      </a>
    </div>
  </div>
</div>
<!-- /Icon Box -->