<div class="tw-space-y-4 tw-relative">
  {{!-- <div class="bg_color3 uk-position-cover"></div> --}}
  <!-- note -->
  <div class="note">
    {{> titleBox title='提醒' h2fullBG=true h2fullBgColor='bg_primary' h2more=false dropdown=false content='note' cols=false card=true}}
  </div>
  <!-- /note -->
  <!-- inr -->
  <div class="inr">
    {{> titleBox title='INR 檢測' h2fullBG=true h2fullBgColor='bg_primary' dropdown=false content='inr' cols=false card=true}}
  </div>
  <!-- /inr -->
  <!-- buttons -->
  <div class="buttons">
    <div class="uk-grid uk-grid-small uk-child-width-expand" uk-grid>
      <div class="min_width-1/2">
        <a class="bg_primary tw-no-underline tw-p-2 s:tw-p-4 s:tw-text-xl tw-text-center tw-block" href="">衛教資訊</a>
      </div>
      <div class="min_width-1/2">
        <a class="bg_primary tw-no-underline tw-p-2 s:tw-p-4 s:tw-text-xl tw-text-center tw-block" href="">填寫問卷</a>
      </div>
    </div>
  </div>
  <!-- /buttons -->
</div>
