<div class="tw-space-y-4 tw-relative">
  {{!-- <div class="bg_color3 uk-position-cover"></div> --}}
  <!-- date -->
  <div class="date">
    {{> titleBox title='慢箋領取時程' h2fullBG=true h2fullBgColor='bg_secondary' h2more=true h2moreColor='tw-text-white ' h2moreUKicon=true h2moreUrl='B01prescription.html' dropdown=false content='date' cols=false card=true}}
  </div>
  <!-- /date -->
  <!-- buttons -->
  <div class="buttons">
    <div class="uk-grid uk-grid-small uk-child-width-expand" uk-grid>
      <div class="min_width-1/2"><a class="bg_secondary tw-no-underline tw-p-2 s:tw-p-4 s:tw-text-xl tw-text-center tw-block" href="">掃描我的慢箋
</a></div>
      <div class="min_width-1/2"><a class="bg_secondary tw-no-underline tw-p-2 s:tw-p-4 s:tw-text-xl tw-text-center tw-block" href="">收集我的藥局
</a></div>
    </div>
  </div>
  <!-- /buttons -->
</div>