<h2>藥品成分名：Warfarin 5mg/tab</h2>
<h3>藥品作用方式：</h3>
<p>若您的心臟功能不好，例如有心房纖維顫動、裝置人工瓣膜或是曾經發生 中風等情形，血液會比平常人容易產生血栓，而導致心肌梗塞、肺部動脈血管 栓塞、深層靜脈栓塞、中風等疾病。 服用脈化寧可以防止不正常的凝血及血塊形成，預防血管栓塞，大幅降低 中風、心臟病發作的風險。</p>
<h3>脈化寧如何服用：</h3>
<p>請遵循醫師指示服藥，未經醫師指示絕對不可以自行改變服藥方式，不要 自己更改劑量或停藥。若病情有變化，應立刻諮詢醫師。 服藥時間：建議您每天在固定的時間服用。</p>

<h3>忘記服藥怎麼辦：</h3>
<ol>
  <li>距離服藥時間在 12 小時內者：可以儘快補服當日的藥量。 (如：本來在早上 7：00 服用，在晚上 7：00 前想到，趕快補吃) </li>
  <li>距離服藥時間超過 12 小時者：不要補服當日藥量，隔日正常服藥，但不可 服用雙倍劑量，以免增加出血風險。 (如：本來在早上 7：00 服用，在晚上 7：00 後想到，就不用吃)</li>
  <li>如果兩天或更多天忘記服藥，應立即告知醫師，重新調整藥量。</li>
</ol>
<h3>服藥期間為什麼要抽血檢驗：</h3>
<p>脈化寧的劑量安全範圍較小，使用劑量太多與太少，都會提高出血或是栓 塞的風險，因此醫師會依據您的檢查結果，調整服用劑量。 抽血檢查主要以兩項指標來評估凝血功能：</p>
<ol>
  <li>PT (Prothrombin time)：血酵素原時間</li>
  <li>INR(國際標準凝血時間比)，治療目標為 2.0~3.0</li>
</ol>
<h3>服藥期間有哪些注意事項：</h3>
<ol>
  <li>手術 104.12 初版 109.01 第三版修訂
    <ul>
      <li>若您要進行手術、拔牙治療、侵入性檢查時，需告知醫師及牙醫師目前 有服用抗凝血劑。醫師評估出血的風險，決定是否調整用藥。</li>
    </ul>
  </li>
  <li>受傷
    <ul>
      <li>避免從事容易挫傷、扭傷的活動(例如：足球、橄欖球、拳擊等)。若出 現嚴重受傷，流血不止，請立即就醫。</li>
      <li>刷牙時，請使用軟毛牙刷，以減少牙齦的刺激。</li>
    </ul>
  </li>
  <li>出血/血栓
    <ul>
      <li>若有出血症狀（如解黑便、尿液呈紅色或深褐色、咳血、牙齦出血、不 明原因的瘀青、流鼻血、月經量大或月經延長等），請立刻就醫。</li>
      <li>若有血栓症狀（如突然說話不順、臉歪、流口水、胸痛、呼吸不順、單 側手腳無力等），請立刻就醫。</li>
    </ul>
  </li>
</ol>
<h3>有哪些飲食需要注意：</h3>
<p>請務必每天保持固定攝取量，避免因飲食型態改變太大，影響藥物抗凝血作用。</p>
