<div class="uk-text-center uk-grid uk-grid-column-large uk-grid-row-small uk-flex-column" uk-grid>
  <p class="number color_primary tw-m-0 tw-text-3xl tw-font-black">1.1</p>
  <time>2021/9/6 19:05</time>
  {{#if inrtext}}
  <small>{{inrText}}</small>
  {{/if}}
</div>
