<ol class="uk-grid uk-grid-divider uk-grid-column-large uk-grid-row-small uk-flex-column" uk-grid>
  <li>
    <!-- grid -->
    <div class="uk-grid uk-grid-small uk-child-width-expand" uk-grid>
      <!-- pharmacy -->
      <div class="uk-width-expand">
        <p class="tw-text-lg tw-m-0">藥局A</p>
        <p class="tw-m-0">地址:XXXX</p>
        <p class="tw-m-0">電話:XXX</p>
      </div>
      <!-- /pharmacy -->
      <!-- map -->
      <div class="uk-width-auto">
        <div><a class="uk-button uk-button-default" href="#map" uk-toggle>地圖</a></div>
        <div id="map" class="uk-flex-top" uk-modal>
          <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <button class="uk-modal-close-default" type="button" title="關閉" uk-close><span class="tw-sr-only">關閉</span></button>
            <iframe class="tw-w-full" title="地圖" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7228.748781476063!2d121.55226796955823!3d25.055296677339822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xab1a3ae644cd897f!2z6LqN542F5pWm5YyX6Jel5bGA!5e0!3m2!1szh-TW!2stw!4v1631673744010!5m2!1szh-TW!2stw" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
      </div>
      <!-- /map -->
    </div>
    <!-- /grid -->
  </li>
  <li>
    <!-- grid -->
    <div class="uk-grid uk-grid-small uk-child-width-expand" uk-grid>
      <!-- pharmacy -->
      <div class="uk-width-expand">
        <p class="tw-text-lg tw-m-0">藥局B</p>
        <p class="tw-m-0">地址:XXXX</p>
        <p class="tw-m-0">電話:XXX</p>
      </div>
      <!-- /pharmacy -->
      <!-- map -->
      <div class="uk-width-auto">
        <div><a class="uk-button uk-button-default" href="#map" uk-toggle>地圖</a></div>
      </div>
      <!-- /map -->
    </div>
    <!-- /grid -->
  </li>
</ol>
