<!--  Table  -->
<div class="uk-overflow-auto">
	<table class="uk-table uk-table-small uk-table-striped">
		<thead>
			<tr>
				<th class="tw-font-semibold uk-table-shrink uk-text-nowrap">10/1</th>
				<th class="tw-font-semibold uk-table-shrink uk-text-nowrap">10/8</th>
				<th class="tw-font-semibold uk-table-shrink uk-text-nowrap">10/15</th>
				<th class="tw-font-semibold uk-table-shrink uk-text-nowrap">10/23</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="4">1.你昨天服用了多少劑warfarin？</td>
			</tr>
			<tr>
				<td>3.5</td>
				<td>3.5</td>
				<td>3.5</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td colspan="4">2. 過去七天中是否有更改任何藥物？</td>
			</tr>
			<tr>
				<td>是</td>
				<td>否</td>
				<td>否</td>
				<td>否</td>
			</tr>
			<tr>
				<td colspan="4">3. 是否有出血症狀？</td>
			</tr>
			<tr>
				<td>是</td>
				<td>否</td>
				<td>否</td>
				<td>否</td>
			</tr>
			<tr>
				<td colspan="4">4. 過去七天中有忘記服藥嗎？</td>
			</tr>
			<tr>
				<td>是</td>
				<td>否</td>
				<td>否</td>
				<td>否</td>
			</tr>
			<tr>
				<td colspan="4">5. 過去七天中是否有吃綠色蔬菜？</td>
			</tr>
			<tr>
				<td>是</td>
				<td>否</td>
				<td>否</td>
				<td>否</td>
			</tr>
		</tbody>
	</table>
</div>
<!--  /Table  -->
<!--  Buttons  -->
<div class="tw-mt-2 uk-grid uk-grid-small uk-child-width-expand" uk-grid>
  <div><a class="btn_primary tw-w-full uk-button uk-button-primary" href="" type="submit"><i class="tw-mr-1 fas fa-angle-left"></i>上個月</a></div>
  <div><a class="btn_primary tw-w-full uk-button uk-button-primary" href="" type="submit">下個月<i class="tw-ml-1 fas fa-angle-right"></i></a></div>
</div>
<!--  /Buttons  -->
