<!-- open time -->
<div class="opentime bg_secondary tw-h-full tw-p-4 uk-card">
  <div class="tw-h-full uk-grid uk-grid-small" uk-grid>
    <div class="uk-width-auto uk-width-1-1@s uk-width-auto@m">
      <div class="tw-text-center tw-border tw-border-white tw-h-full uk-flex uk-flex-wrap uk-flex-center uk-flex-middle">
        <div class="date min_width-115 tw-text-2xl l:tw-text-4xl tw-font-semibold tw-text-white tw-px-2 tw-w-full">3/9<span class="week tw-block tw-text-xl l:tw-text-2xl tw-mt-1">(二)</span></div>
      </div>
    </div>
    <div class="uk-width-expand">
      <a class="btn_black tw-text-sm l:tw-text-base tw-p-1 tw-w-full tw-mb-1 tw-leading-none uk-button uk-button-primary" href="#">詳細開館時間<i class="tw-ml-1 fas fa-angle-right"></i></a>
      <p class="tw-m-0 tw-text-sm m:tw-text-base l:tw-text-xl tw-text-white">今日開館時間<br>8:00-22:00</p>
    </div>
  </div>
</div>
<!-- /open time -->