<!DOCTYPE html>
<html lang="zh-Hant">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script type="text/javascript">
      // Test User Device then go to url: https://dev.to/timhuang/a-simple-way-to-detect-if-browser-is-on-a-mobile-device-with-javascript-44j3
      // userAgent = appCodeName/appVersion number (Platform; Security; OS-or-CPU; Localization; rv: revision-version-number) product/productSub Application-Name Application-Name-version
      // Ex: (window.navigator.userAgent) = "Mozilla/5.0 (Windows; U; Win98; en-US; rv:0.9.2) Gecko/20010725 Netscape6/6.1"
      if (/iphone|ipod|ipad|mobile|blackberry|mini|windows\sce|iemobile|palm/i.test(navigator.userAgent.toLowerCase())) {
        if (/iphone|ipod|ipad/i.test(navigator.userAgent.toLowerCase())) {
          window.location = 'https://itunes.apple.com/tw/app/'; //iOS	
        } else if (/android|/i.test(navigator.userAgent.toLowerCase())) {
          window.location = 'https://play.google.com/store/apps/'; //安卓
        } else {
          window.location = 'https://'; //其他手機
          //document.getElementById('TT2').innerHTML = "其他手機";
        }
      }
      else {
        window.location = 'https://'; //PC
        //document.getElementById('TT2').innerHTML = "PC";
      }
    </script>
  </head>

  <body>

  </body>

</html>